<div class="main min-h-screen">
  <div class="body w-8">
    <div class="grid m-1">
      <div class="col-8 p-0">
        <div *ngFor="let weather of currentWeather">
          <app-list-city [currentWeather]="weather"></app-list-city>
        </div>
      </div>
      <div class="col-3 p-0 m-3">
        <p-card header="CHỈ SỐ CH.LƯỢNG KH.KHÍ">
          <p class="m-0"></p>
          <div class="grid">
            <div class="col-3">
              <img
                style="height: 40px; width: 60px"
                src="../../../assets/img/CLKK.png"
                alt="Biều đồ đo chất lượng k.khí"
              />
            </div>
            <div class="col-9">
              <b>Trung bình</b>
              <p>
                Chất lượng không khí có thể chấp nhận được; tuy nhiên đối với
                một số chất gây ô nhiễm, có thể hơi có vấn đề về sức khỏe đối
                với một số rất ít những người nhạy cảm bất thường đối với ô
                nhiễm không khí.
              </p>
            </div>
          </div>
        </p-card>
        <p-card header="Sức khỏe & Hoạt động" class="m-1 p-0">
          <p class="m-0"></p>
          <div class="grid p-0">
            <div class="col-3">
              <img
                style="height: 40px; width: 60px"
                src="../../../assets/img/du-bao.jpg"
                alt="Hoạt động"
              />
            </div>
            <div class="col-9">
              <b>Dự báo</b>
              <p>Thời tiết rất tốt để hoạt động thể dục ngoài trời...</p>
            </div>
          </div>
        </p-card>
        <div class="text-center" style="margin-top: -5px">
          <p-button
            styleClass="p-button-raised p-button-info p-button-sm"
            [style]="{ width: '10rem', 'justify-content': 'center' }"
            [routerLink]="['/login']"
          >
            Đăng nhập</p-button
          >
        </div>
      </div>
    </div>
  </div>
</div>
