.menu{
    background-color: rgba(229, 224, 233, 0.568);
    border-radius: 20px;
}
.icon-menu{
    margin-left: 10%;
    width: 80px;
    height: 100%;
}
.p-input-icon-left {
    display: flex;
  }
.search-input{
    flex: 0.6;
}