<div class="card">
  <div class="menu grid">
    <div class="col-3">
      <img
        src="../../../assets/img/icon-menu.png"
        alt="Icon cloud"
        class="icon-menu"
      />
    </div>
    <div class="col-8">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          class="search-input"
          type="text"
          pInputText
          placeholder="Search..."
        />
      </span>
    </div>
    <div class="col-1">
      <a routerLink="/login">Login</a>|
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>

<div style="width: 80%; margin-left: 10%;">
<div class="grid m-1" >
    <div class="col-8 p-0" style="background-color: aquamarine;">
        <div style="height: 300px; background-color: rgba(0, 0, 0, 0.048);"></div>
        <div style="height: 600px; background-color: rgba(175, 120, 120, 0.411);"></div>
    </div>
    <div class="col-4 p-0" style="background-color: antiquewhite;">
        <div style="background-color: rgba(219, 116, 116, 0.034); height:400px"></div>
        <div style="background-color: rgba(166, 255, 0, 0.075); height:400px"></div>
    </div>
</div>
</div>
