.main{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,rgb(0,89,134),rgb(216,238,238)) !important;
}
.menu {
    background-color: rgb(0, 89, 134);
}

.icon {
    margin: 0 20% 0 10%;
    width: 60px;
    height: 100%;
} 

.menu-icon {
    text-align: right;
    height: 60px;
}

.body {
    margin: 0 auto;
}

.body-page1 {
    background-image: linear-gradient(to right,rgb(24, 129, 169),rgb(99, 195, 217)) !important;
    color: white;
}
.title-page1{
    background-color: rgb(25,73,87); 
    color: white; 
    height: 40px;
}

.p-input-icon-left {
    display: flex;
    height: 30px;
    margin-top: 1%;

}

.search-input {
    flex: 0.5;

}

.menu-login {
    color: black;
}

.page1-img {
    float: right;
    height: 140px;
    width: 140px;
    margin-right: 20%;
    margin-top: 10%;
}
.panel-menu {
    list-style: none;
    padding: 0;
  }
  
  .panel-menu-item {
    border-top: 1px solid #ccc;
    padding: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .sub-menu {
    display: none;
    list-style: none;
    padding-left: 20px;
  }
  
  .panel-menu-item:hover .sub-menu {
    display: block;
  }
  
  .sub-menu li {
    padding: 5px 0;
  }
  
  .item-img{
    float: right;
  }