<div class="main">
  <div class="body p-0 w-8">
    <section id="hero">
      <video *ngIf="show" id="heroVideoBg" autoplay loop muted>
        <!-- <source type="video/mp4" src="https://tinyurl.com/y5x5jmnf" /> -->
        <source type="video/mp4" src="../../../assets/mp4/Clear.mp4" />
        <!-- <source type="video/webm" src="{{ urlVideo }}" /> -->
      </video>
      <img *ngIf="!show" src="../../../assets/mp4/Clear.mp4" alt="Video thời tiết">
      <div id="heroContent" class="w-full">
        <div>
          <i
            class="pi pi-arrow-left mt-4 ml-4"
            style="color: white"
            [routerLink]="['/']"
          ></i>
        </div>
        <div class="text-center pt-5" style="color: white">
          <b class="m-0 text-5xl">{{ local[0]?.local_names["vi"] }}</b>
          <br />
          <span class="text-7xl"
            >{{ current?.main.temp - 273.15 | number : "1.0-0" }}&deg;</span
          >
          <br />
          <span class="text-base">{{
            current.weather[0].description | titlecase
          }}</span>
        </div>
      </div>
    </section>
    <div class="m-0">
      <p-scroller
        [items]="hourly.value?.list"
        [itemSize]="hourly.value?.list.length"
        scrollHeight="70vh"
        styleClass="surface-border min-w-full"
      >
        <ng-template pTemplate="item" let-item let-options="options">
          <div
            *ngIf="itemValue[options.index].check"
            class="justify-content-center flex align-items-center title-day h-4"
          >
            <b class="m-3 p-item-day">{{
              itemValue[options.index].value.dt * 1000 | date : "fullDate"
            }}</b>
          </div>

          <div
            class="flex align-items-center pl-2"
            [ngClass]="{ 'surface-ground': options.odd }"
            (click)="toggleSubMenu(options.index)"
          >
            <div
              class="grid m-0 p-0 text-align-center justify-content-center min-w-full"
            >
              <div class="col-2 max-h-3rem">
                <b>{{ item.dt_txt | date : "shortTime" }}</b>
              </div>
              <div class="col-1 max-h-3rem">
                <span
                  >{{ item.main.temp - 273.15 | number : "1.0-0" }}&deg;</span
                >
              </div>
              <div class="col-4 pl-8 max-h-3rem">
                <img
                  style="height: 60%; float: left"
                  src="https://openweathermap.org/img/wn/{{
                    item.weather[0].icon
                  }}.png"
                  alt="icon"
                />
                <span class="ml-2" style="float: left">{{
                  item.weather[0].description | titlecase
                }}</span>
              </div>
              <div class="col-2 max-h-3rem">
                <span>💧 {{ item.main.humidity }}%</span>
              </div>
              <div class="col-3 max-h-3rem">
                <span>💨 {{ item.wind.speed }}m/s</span>
              </div>
            </div>
          </div>

          <div
            class="justify-content-center"
            [hidden]="!itemValue[options.index].show"
          >
            <div class="w-11" style="margin: 0 auto">
              <div class="border-500 border-1 border-round-sm">
                <div class="grid">
                  <div class="col-4 pb-0">
                    <div class="grid">
                      <div class="col-3 pb-0">
                        <div class="card-img">
                          <img
                            src="https://openweathermap.org/img/wn/{{
                              itemValue[options.index].value.weather[0].icon
                            }}.png"
                            alt="icon"
                          />
                        </div>
                      </div>
                      <div class="col-9 pb-0">
                        <div>Cảm giác như</div>
                        <b
                          >{{
                            itemValue[options.index].value.main.feels_like -
                              273.15 | number : "1.0-0"
                          }}&deg;</b
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 pb-0">
                    <div class="grid">
                      <div class="col-3 hourly-img">💨</div>
                      <div class="col-9">
                        <div>Gió</div>
                        <b
                          >BTB
                          {{ itemValue[options.index].value.wind.speed }} m/s</b
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 pb-0">
                    <div class="grid">
                      <div class="col-3 hourly-img">💧</div>
                      <div class="col-9">
                        <div>Độ ẩm</div>
                        <b
                          >{{
                            itemValue[options.index].value.main.humidity
                          }}%</b
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <hr width="80%" />
                <div class="grid">
                  <div class="col-4">
                    <div class="grid">
                      <div class="col-3 hourly-img pl-4">☀️</div>
                      <div class="col-9">
                        <div>Chỉ số UV</div>
                        <b>0 / 11</b>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="grid">
                      <div class="col-3 hourly-img">☁️</div>
                      <div class="col-9">
                        <div>Mây che phủ</div>
                        <b>{{ itemValue[options.index].value.clouds.all }}%</b>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="grid">
                      <div class="col-3 hourly-img">💦</div>
                      <div class="col-9">
                        <div>Tầm nhìn</div>
                        <b
                          >{{
                            itemValue[options.index].value.visibility / 1000
                          }}km</b
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-scroller>
    </div>
  </div>
</div>
