.body {
    margin: 10px auto;
    background-color:var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
  }