.main{
  height: 100%;
  width: 100%;
}
.body {
  height: 98vh;
  width: 90%;
  margin: 0;
  background-color:var(--surface-card);
  border: 1px solid var(--surface-border);
  box-shadow: var(--card-shadow);
  border-radius: 12px;
}

.header{
  width: 70vh;
  margin: 0 auto;
  border: 0px;
}

.menu-login {
  color: white;
}