<ul class="panel-menu">
    <li class="panel-menu-item">
        <div class="grid m-0 p-0" style="text-align: center;"> 
            <div class="col-2"><span>15:00</span></div>
            <div class="col-1"><span>33&deg;</span></div>
            <div class="col-4"><span>🌤️ Trời nắng</span></div>
            <div class="col-1"><span>💧0%</span></div>
            <div class="col-4"><span>💨 ĐB 14km/h</span></div>
          </div>
      <ul class="sub-menu">
        <li>
            <div class="border-50 border-1">
                <div class="grid">
                    <div class="col-4">
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Cảm giác như</div>
                                <b>29&deg;</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"> 
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Gió</div>
                                <b>BTB 6 km/h</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"> 
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Độ ẩm</div>
                                <b>74%</b>
                            </div>
                        </div>
                    </div>
                </div>
                <hr width="80%">
                <div class="grid">
                    <div class="col-4">
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Chỉ số UV</div>
                                <b>0 / 11</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Mây che phủ</div>
                                <b>21%</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid">
                            <div class="col-3">Ảnh</div>
                            <div class="col-9">
                                <div>Lượng mưa</div>
                                <b>0cm</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
      </ul>
    </li>
    <li class="panel-menu-item">
      Item 2
      <ul class="sub-menu">
        <li>Subitem 2.1</li>
        <li>Subitem 2.2</li>
      </ul>
    </li>
    <li class="panel-menu-item">Item 3</li>
  </ul>
  