.body {
  height: 98vh;
  margin: 0px auto;
  padding: 0;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  }