<div>
  <div class="border-round-sm body-page1">
    <div class="border-round-sm title-page1">
      <p class="text-xl pt-1 pl-3">
        <b> {{ currentWeather.name }} </b>
      </p>
    </div>

    <div class="grid ml-2">
      <div class="col-7">
        <b class="text-7xl"
          >{{ currentWeather.main.temp - 273.15 | number : "1.0-0" }}&deg;</b
        >
        <div>{{ currentWeather.dt * 1000 | date : "shortTime" }}</div>
      </div>
      <div class="col-5 h-8rem">
        <div class="grid">
          <div
            class="col-12 p-0"
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              src="https://openweathermap.org/img/wn/{{
                currentWeather.weather[0].icon
              }}.png"
              alt="Ảnh"
              class="page1-img"
            />
          </div>
          <div
            class="col-12 p-0"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>{{ currentWeather.weather[0].description | titlecase }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
