.body-page1 {
    background-image: linear-gradient(to right,rgb(24, 129, 169),rgb(99, 195, 217)) !important;
    color: white;
}
.title-page1{
    background-color: rgb(25,73,87); 
    color: white; 
    height: 40px;
}
.page1-img {
    height: 80px;
    width: 80px;
}